@import '@/assets/styles/variables/_variables.scss';

#header {
  position: absolute;
  top: 0px;
  min-width: 100%;
  left: 0px;
  height: 100px;
  color: $mainColor;
  font-size: 1.2em;
  line-height: 100px;
  z-index: 20;
}
.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  a {
    color: inherit;
    text-decoration: none;
  }
}
#logo {
  font-size: 2em;
  cursor: pointer;
  p {
    margin: 0px;
  }
}
#user {
  cursor: pointer;
  p {
    margin: 0px;
  }
}
#menu {
  p {
    float: left;
    margin: 0 10px;
    cursor: pointer;
  }
}
#menu p:hover, #logo p:hover, #user p:hover {
  color: $hoverColor;
}

