@import '@/assets/styles/variables/_variables.scss';
#sign {
  font-family: 'Indie Flower', cursive;
  width: 90%;
  margin: 0% 5% 15%;
  height: 50px;
  border: 1px solid #3898c8;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1.4em;
  color: #4ebbc6;
  box-shadow: 0px 0px 5px #a8e3e8;
  i {
    line-height: 50px;
    width: 50px;
    text-align: center;
    float: left;
    background-color: #4fbbc62b;
  }
  .btn-desc {
    float: right;
    text-align: center;
    width: calc(100% - 50px);
    line-height: 50px;
  }
}
