@import '@/assets/styles/variables/_variables.scss';

#Menu {
  margin-top: -30px;
  background-color: #fff;
  text-align: center;
  border-radius: 4px;
  ul {
    padding: 0px;
    list-style: none;
    margin: 0px;
    background-color: #40a5c733;
    li {
      cursor: pointer;
      line-height: 2em;
      border-bottom: 1px solid #fff;
    }
    li:hover {
      color: $hoverColor;
    }
    li:last-child {
      border: none;
    }
  }
}
