<template>
  <div id="footer">{{version}}{{footerMsg}}</div>
</template>

<style lang="scss" scoped>
  @import '@/assets/styles/static/footer.scss';
</style>

<script>
export default {
  name: 'Footer',
  data () {
    return {
      database: null,
      footerMsg: `Copyright @Adrian Wojdat | ${new Date().getFullYear()}`
    }
  },
  computed: {
    version () {
      if (this.database.settings) {
        return `V. ${this.database.settings.AppVersion} | `
      }
      return null
    }
  },
  created () {
    this.database = this.$store.getters.Database
  }
}
</script>
