<template>
  <div id="header">
    <div class="container">
      <router-link to="/">
        <div id="logo">
          <p><i class="fas fa-money-check-alt"></i> ExpenseTracker</p>
        </div>
      </router-link>
      <div id="menu">
        <router-link to="new"><p>Dodaj transakcję</p></router-link>
        <router-link to="expenses"><p>Wydatki</p></router-link>
        <router-link to="revenues"><p>Przychody</p></router-link>
      </div>
      <div id="user">
        <p @click="togleMenu">Witaj {{ session.name }} <i class="fas fa-chevron-down"></i></p>
        <UserMenu v-if="isMenuVisible" @menuStatusChanged="isMenuVisible = $event"></UserMenu>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
  @import '@/assets/styles/static/header.scss';
</style>

<script>
import UserMenu from './UserMenu'

export default {
  name: 'Header',
  data () {
    return {
      session: null,
      isMenuVisible: false
    }
  },
  components: {
    UserMenu
  },
  methods: {
    togleMenu () {
      this.isMenuVisible = !this.isMenuVisible
    }
  },
  created () {
    this.session = this.$store.getters.User
  }
}
</script>
