<template>
  <div class="spinner">
    <div class="dot1"></div>
    <div class="dot2"></div>
  </div>
</template>

<style lang="scss" scoped>
  @import '@/assets/styles/static/loading.scss';
</style>

<script>
export default {
  name: 'Loading'
}
</script>
