<template>
  <div id="signIn">
    <h1 id="title">{{ msg }}</h1>
    <div id="sign" @click="signInWithGoogle">
      <i class="fab fa-google"></i>
      <div class="btn-desc">{{ loginButtonLabel }}</div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
  @import '@/assets/styles/static/signIn.scss';
</style>

<script>
import {SIGN_IN} from '@/store/action-types'

export default {
  name: 'SignIn',
  data () {
    return {
      msg: 'Welcome to Expenses tracker App',
      loginButtonLabel: 'Log in with Google'
    }
  },
  methods: {
    signInWithGoogle () {
      this.$store.dispatch(SIGN_IN)
    }
  }
}
</script>
