<template>
  <div id="Menu">
    <ul>
      <li v-for='(item, index) in menuItems' :key='index' @click="open(item)">
        {{ item }}
      </li>
    </ul>
  </div>
</template>

<style lang="scss" scoped>
  @import '@/assets/styles/static/userMenu.scss';
</style>

<script>
import router from '@/router'
import {SIGN_OUT} from '@/store/action-types'

export default {
  name: 'Expense',
  data () {
    return {
      menuItems: [
        'Profil',
        'Wyloguj'
      ]
    }
  },
  methods: {
    open (component) {
      this.$emit('menuStatusChanged', false)
      switch (component) {
        case 'Wyloguj':
          this.$router.push('/')
          this.$store.dispatch(SIGN_OUT)
          break
        case 'Profil':
          router.push('profile')
      }
    }
  }
}
</script>
