<template>
  <div  id="newTransaction">
    <h1 id="title">Nowa transakcja</h1>
    <Loading v-if="!Categories"></Loading>
    <div id="addTransactionForm" v-if="Categories">
      <input v-model="form.title" placeholder="Nazwa" v-bind:class="{ complete: form.title.length > 0 }">
      <select v-model="form.category" v-bind:class="[form.category === 0 ? 'selectedDefault' : 'setSelected']">
        <option v-for='category in Categories' v-bind:value="category.value" v-bind:key="category.key">
          {{ category.text }}
        </option>
      </select>
     <select v-model="form.type" v-bind:class="[form.type === 0  ? 'selectedDefault' : 'setSelected']">
        <option v-for="option in selectType.options" v-bind:value="option.value" v-bind:key="option.key">
          {{ option.text }}
        </option>
      </select>
      <input v-model="form.amount" @change="amountToInt" placeholder="Kwota" v-bind:class="{ complete: form.amount > 0 }">
      <datepicker :language="lang"  v-model="datePicker" @closed="customFormatter"></datepicker>
      <div id="submit" v-bind:class="{disabled:!validForm}" @click="addNewTransaction">Dodaj transakcje</div>
      <div class="clearForm" @click="clearTransactionForm">Wyczyść formularz</div>
    </div>
  </div>
</template>

<style lang="scss">
  @import '@/assets/styles/addTransaction.scss';
</style>

<script>
import {SYNC_CATEGORIES, NEW_TRANSACTION} from '@/store/action-types'
import Loading from '@/components/static/Loading'
import {mapGetters} from 'vuex'
import {pl} from 'vuejs-datepicker/dist/locale'
import Datepicker from 'vuejs-datepicker'

export default {
  name: 'NewTransaction',
  data () {
    return {
      form: {
        title: '',
        category: 0,
        type: 0,
        amount: null,
        date: new Date(),
        userId: null
      },
      selectType: {
        options: [
          { text: 'Typ transakcji', value: 0 },
          { text: 'Wydatek', value: 1 },
          { text: 'Przychód', value: 2 }
        ]
      },
      datePicker: new Date(),
      lang: pl,
      session: null
    }
  },
  components: {
    Datepicker,
    Loading
  },
  methods: {
    customFormatter () {
      this.form.date = this.datePicker
    },
    amountToInt () {
      this.form.amount = parseInt(this.form.amount)
    },
    addNewTransaction () {
      this.form.userId = this.session.userId
      this.$store.dispatch(NEW_TRANSACTION, this.form).then(() => {
        this.clearTransactionForm()
      })
    },
    clearTransactionForm () {
      this.form = {
        title: '',
        category: 0,
        type: 0,
        amount: null,
        date: new Date(),
        userId: null
      }
    }
  },
  mounted () {
    this.$store.dispatch(SYNC_CATEGORIES)
  },
  computed: {
    ...mapGetters(['Categories']),
    validForm: function () {
      if (
        this.form.title.length > 0 &&
        this.form.category > 0 &&
        this.form.type > 0 &&
        this.form.type > 0 &&
        this.form.amount > 0
      ) {
        return true
      }
      return false
    }
  },
  created () {
    this.session = this.$store.getters.User
  }
}
</script>
