<template>
  <div id="expenses">
    <h1 id="title">Wydatki</h1>
    <Loading v-if="!Transactions && !Categories"></Loading>
    <div class="transactions" v-if="Transactions && Categories">
      <div class="filter">
         <datepicker :language="lang" v-model="datePicker" @closed="filter"></datepicker>
      </div>
      <div v-for="(transaction, index) in expenses" v-bind:key="transaction.key" v-bind:class="{ light:getRowColor(index), transaction }">
        <div class="title">{{transaction.title}}</div>
        <div class="amount">{{transaction.amount}}</div>
        <div class="category">{{Categories[transaction.category].text}}</div>
        <div class="options"><i class="fa fa-trash-alt" @click="removeTransactionById(transaction.id)"></i></div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
  @import '@/assets/styles/expenses.scss';
  @import '@/assets/styles/common/table.scss';
</style>

<script>
import {SYNC_TRANSACTIONS, SYNC_CATEGORIES, REMOVE_TRANSACTION} from '@/store/action-types'
import Loading from '@/components/static/Loading'
import {mapGetters} from 'vuex'
import {pl} from 'vuejs-datepicker/dist/locale'
import Datepicker from 'vuejs-datepicker'

export default {
  name: 'Expenses',
  data () {
    return {
      session: {},
      year: new Date().getFullYear(),
      month: new Date().getMonth() + 1,
      day: new Date().getUTCDate(),
      revenuesType: 1,
      lang: pl,
      datePicker: new Date()
    }
  },
  components: {
    Loading,
    Datepicker
  },
  methods: {
    getRowColor (key) {
      return (key % 2 === 0)
    },
    removeTransactionById (id) {
      const transaction = {
        id: id,
        type: this.revenuesType,
        year: this.year,
        month: this.month,
        day: this.day,
        userId: this.session.userId
      }
      this.$store.dispatch(REMOVE_TRANSACTION, transaction)
    },
    filter () {
      this.year = this.datePicker.getFullYear()
      this.month = this.datePicker.getMonth() + 1
      this.day = this.datePicker.getUTCDate()
    }
  },
  mounted () {
    this.$store.dispatch(SYNC_CATEGORIES)
    this.$store.dispatch(SYNC_TRANSACTIONS, this.session)
  },
  computed: {
    ...mapGetters(['Transactions', 'Categories']),
    expenses () {
      const expenses = []
      if (
        this.Transactions.transactions[this.revenuesType] &&
        this.Transactions.transactions[this.revenuesType][this.year] &&
        this.Transactions.transactions[this.revenuesType][this.year][this.month] &&
        this.Transactions.transactions[this.revenuesType][this.year][this.month][this.day]
      ) {
        const select = this.Transactions.transactions[this.revenuesType][this.year][this.month][this.day]
        Object.keys(select).map((v) => {
          select[v].id = v
          expenses.push(select[v])
        })
      }
      return expenses
    }
  },
  created () {
    this.session = this.$store.getters.User
  }
}
</script>
