<template>
  <div  id="Home">
    <h1 id="title">Podsumowanie</h1>
    <CheckoutChart :height="200"></CheckoutChart>
  </div>
</template>

<style lang="scss" scoped>
  @import '@/assets/styles/home.scss';
</style>

<script>
import CheckoutChart from './charts/checkout'
export default {
  name: 'Home',
  data () {
    return {
      database: null
    }
  },
  components: {
    CheckoutChart
  },
  methods: {
  },
  computed: {
    categoriesLength () {
      return this.database.categories ? Object.keys(this.database.categories).length : 0
    },
    transactionsLength () {
      return this.database.transactions ? Object.keys(this.database.transactions).length : 0
    }
  },
  created () {
    this.database = this.$store.getters.Database
  }
}
</script>
