<template>
  <div  id="profile">
    <h1 id="title">Użytkownik</h1>
    <br>
    <img v-bind:src="session.authUser.photoURL"/>
    <div id="userName">{{session.name}}</div>
    <div id="userEmail">{{session.email}}</div>
  </div>
</template>

<style lang="scss" scoped>
  @import '@/assets/styles/profile.scss';
</style>

<script>
export default {
  name: 'Profile',
  data () {
    return {
      session: null
    }
  },
  created () {
    this.session = this.$store.getters.User
  }
}
</script>
