@import '@/assets/styles/variables/_variables.scss';

.filter {
    margin-bottom: 10px;
    margin-top: -90px;
    .vdp-datepicker {
    height: 50px;
    float: right;
      input {
        font-size: 1.8em;
        color: $mainColor;
        outline: none;
        text-align: center;
        margin: 0px;
        height: 50px;
        line-height: 50px;
        width: 100%;
        border: 1px solid $mainColor;
        border-radius: 4px;
      }
    }
  }
  .transactions {
    display: grid;
    .transaction {
      display: grid;
      grid-template-columns: 6fr 2fr 3fr 1fr;
      height: 50px;
      line-height: 50px;
      background-color: $mainColor;
      margin-bottom: 1px;
      color: #fff;
      font-size: 1.5em;
      padding: 0 10px;
      .options {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
          cursor: pointer;
        }
        i:hover {
          color: #e57373;
        }
      }
    }
    .light {
      background-color: $secondColor;
    }
  }