<template>
  <div id="app">
    <Loading v-if="!session.isSessionChecked"></Loading>
    <SignIn id="login" v-if="!session.isUserLogged && session.isSessionChecked"></SignIn>
    <div v-if="session.isUserLogged && session.isSessionChecked" class="context">
      <Header></Header>
      <div class="container component">
        <router-view></router-view>
      </div>
    </div>
    <Footer></Footer>
  </div>
</template>

<style lang="scss">
  @import './assets/styles/app.scss';
</style>

<script>
import Footer from './components/static/Footer'
import Header from './components/static/Header'
import Loading from './components/static/Loading'
import SignIn from './components/static/SignIn'

import {SYNC_SETTINGS, AUTH} from './store/action-types'

export default {
  name: 'App',
  data: function () {
    return {
      database: null,
      session: null
    }
  },
  components: {
    Footer,
    Header,
    Loading,
    SignIn
  },
  methods: {
    auth () {
      this.$store.dispatch(AUTH)
    },
    synchronizeDatabase () {
      this.$store.dispatch(SYNC_SETTINGS)
    }
  },
  created () {
    this.auth()
    this.synchronizeDatabase()
    this.session = this.$store.getters.User
    this.database = this.$store.getters.Database
  }
}
</script>
