@import '@/assets/styles/variables/_variables.scss';

#addTransactionForm {
  display: grid;
  input, select, #submit {
    font-family: 'Indie Flower', cursive;
    height: 50px;
    margin: 5px 25%;
    border: 1px solid $secondColor;
    line-height: 50px;
    font-size: 1.8em;
    color: $mainColor;
    outline: none;
  }
  input {
    text-transform: capitalize;
    padding: 0px 10px;
    border-width: 0px 0px 1px 0px;
  }
  input::placeholder, .selectedDefault {
    color: $secondColor;
    opacity: 1;
  }
  .setSelected {
    border-color: $mainColor;
  }
  .complete {
    color: $mainColor;
    border-color: $mainColor
  }
  #submit {
    border-radius: 4px;
    text-align: center;
    border: 1px solid $mainColor;
    background-color: $secondColor;
    color: #fff;
    cursor: pointer;
  }
  .disabled {
    pointer-events: none;
    filter: grayscale(10);
  }
  .clearForm {
    margin: 0 auto;
    text-align: center;
    display: inline;
    cursor: pointer;
    color: $mainColor
  }
  .clearForm:hover {
    color: $secondColor
  }
  .vdp-datepicker {
    width: 50%;
    height: 50px;
    margin: 5px 25%;
    div {
      input {
        margin: 0px;
        height: 50px;
        width: 100%;
      }
    }
  }
}
