@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import '@/assets/styles/variables/_variables.scss';

body {
  margin: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  user-select: none;
  overflow: hidden;
}
#app {
  font-family: 'Indie Flower', cursive;
  background-image: url('./assets/images/background.png');
  background-size: 100% 100%;
  height: 100%;
  position: absolute;
  width: 100%;
  display: flex;
  top: 0px;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  #title {
    width: 100%;
    text-align: center;
    color: $mainColor;
    font-size: 3em;
    margin: 0px 0px 30px;
  }
  #login {
    background-color: #fff;
    width: 300px;
    height: 400px;
    border: 1px solid #3898c8;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0px 0px 5px $secondColor;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .context {
    height: 100%;
    width: 100%;
  }
  .container {
    width: 70%;
    margin: 0 auto;
    position: relative;
  }
  .component {
    margin-top: 100px;
    height: 80%;
    padding: 30px;
    background-color: #fff;
    box-sizing: border-box;
    overflow: scroll;
    box-shadow: 0px 0px 20px $mainColor;
    z-index: 9;
  }
}
