@import '@/assets/styles/variables/_variables.scss';
#Home {
  width: 90%;
  margin: 0 auto;
  .checkout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    min-height: 35vh;
    .item {
      border: 5px solid #fff;
      border-radius: 10px;
      color: #fff;
      float: left;
      background-color: $secondColor;
      display: flex;
      padding: 10px;
      vertical-align: middle;
      justify-content: space-between;
      font-size: 3em;
      .label {
        text-align: center;
        width: 100%;
        height: 130px;
        line-height: 130px;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}
