@import '@/assets/styles/variables/_variables.scss';

img {
  width: 20%;
  margin: 0 40%;
}
#userName {
  margin-top: 20px;
}
#userName, #userEmail {
  text-align: center;
  font-size: 2em;
  color: $mainColor;
  line-height: 2.2em;
}
